body {
    font-family: sans-serif;
    background-color: rgba(216, 140, 95, 0.137);
}

h1 {
    font-size: 48px;
    font-weight: 600;
    line-height: 60px;
}

p {
    font-size: 18px;
    color: #000000;
    line-height: 1.8;
    margin-bottom: 0;
}

.navbar {
    background-color: white;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .05);
    min-height: 100px;
}

.nav-link {
    color: #1a1a1a;
}

.nav-link:hover {
    color: #1a1a1a;
}

.logo-brand {
    min-width: 160px;
    max-width: 180px;
}

.navbar-toggler {
    font-size: 20px;
}

.navbar-toggler:focus {
    outline: none;
}

#hero {
    background-image: url('../img/office.png');
    background-size: cover;
    padding-top: 50px;
    min-height: 600px;
    color: rgb(0, 0, 0);
}

#formulario {
    margin-left: 75px;
}

#formulario_h1 {
    font-size: 38px;
    font-weight: 300;
    line-height: 50px;
}

#linkVal:link {
    color: rgb(0, 0, 0);
}

.content-center {
    max-width: 800px;
    margin: 0 auto 60px auto;
    text-align: center;
}

.row {
    background-color: white;
    border-radius: 10px;
}

img {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

#login_img {
    min-height: 400;
    min-width: 425;
    margin-left: -12;
}

#login {
    margin: 0;
    padding: 0;
}

#login-row {
    background-image: url('../img/office.png');
    background-size: cover;
    padding-top: 50px;
    min-height: 200px;
    color: rgb(0, 0, 0);
    padding-bottom: 50px;
}

#login-o-box .container #login-row #login-column #login-box {
    margin-top: 70px;
    max-width: 600px;
    height: 300px;
    border-radius: 3px;
}

.btn1 {
    border: none;
    outline: none;
    height: 35px;
    width: 100%;
    background-color: black;
    color: white;
    border-radius: 4px;
    font-weight: bold;
}

.btn1:hover {
    background-color: white;
    border: 1px solid;
    color: black;
}

.titulo-error {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 24px;
    margin: 0 auto 60px auto;
    color: #ff0000;
    text-align: center;
    margin-left: 40;
}

.titulo-exito {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 24px;
    margin: 0 auto 60px auto;
    color: #08bd20;
    text-align: center;
    margin-left: 40;
}